<h1>hello</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to "#{task.title}",  task_path(task.id) %>, details: <%= task.details %>, Complété <%= task.completed %> 
      <%= link_to "Delete",
            task_path(task.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<%= link_to "Add Task", tasks_new_path %>

